.MainMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 2em;
    color: white;
    .ButtonList {
        display: flex;
        flex-direction: column;
    }
    button {
        margin: 0.6em 0;
        padding: 0.4em 2em;
        font-size: 1.25em;
    }
    input {
        font-size: 2em;
        text-align: center;
    }
}
