.RPin {
    height: 0.75em;
    width: 0.75em;
    border-radius: 50%;
    border: 0.1em solid black;
    cursor: pointer;
    position: relative;
    .PinTitle {
        position: absolute;
        transform: translateY(-25%);
        font-size: 0.7em;
    }
}
