.RPin {
    height: 0.75em;
    width: 0.75em;
    border-radius: 50%;
    border: 0.1em solid black;
    cursor: pointer;
    position: relative;
    .PinTitle {
        position: absolute;
        transform: translateY(-25%);
        font-size: 0.7em;
    }
    .ContextMenu {
        position: absolute;
        transform: translateY(-25%);
        background-color: #444;
        border-radius: 8px;
        border: 1px solid black;
        padding: 0.25em 0;
        cursor: default;
        .SelectColorElement {
            cursor: pointer;
            display: flex;
            align-items: center;
            padding: 0 0.5em;
            transition: background 75ms ease-in;
            .ColorPreview {
                height: 1em;
                border-radius: 50%;
                aspect-ratio: 1;
                margin: 0 0.4em;
            }
            &:hover {
                background-color: #222;
            }
        }
    }
}
