.BusEndLine {
    width: 0.6em;
    height: 0.6em;
    transform: translate(-50%, -50%);
}
.WirePath {
    stroke-width: 6px;
    &:hover {
        stroke-width: 10px;
        cursor: pointer;
    }
}
.SelectingField {
    fill: rgba($color: #b3dcfd, $alpha: 0.25);
    stroke: #00bfff;
    stroke-width: 2px;
    position: absolute;
}
