.Chip {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;

    max-width: 10vw;
    min-width: 5vw;
    min-height: 4vh;
    width: max-content;

    text-align: center;

    color: black;
    font-weight: bold;
    font-size: 1.25em;
    cursor: move;
    border: 2.5px solid rgba($color: #000000, $alpha: 0.4);

    transform: translate(-50%, -50%);
    .PinList {
        align-self: stretch;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}
