.EditPage {
    width: 100%;
    height: 2000vh;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: stretch;
    .InputPins,
    .OutputPins {
        background-color: rgba($color: #fff, $alpha: 0.15);
        z-index: 10;
        width: 45px;
    }
    .EditField {
        width: 100%;
        position: relative;
    }
    .OpenEditChipList {
        border-radius: 6px;
        overflow-y: auto;
        padding: 1.5vh;
        width: 100%;
        display: flex;
        justify-content: center;
        .ListObjects {
            display: flex;
            flex-direction: column;
            width: max-content;
            .Button {
                margin: 0.25vh;
            }
        }
    }
}
