.PinInteraction {
    cursor: pointer;
    height: 0.8em;
    width: 0.8em;
    margin: 0.25em 0;
    border-radius: 50%;
    position: relative;
    .PinTitle {
        padding: 0.15em 0.4em;
        cursor: default;
        background-color: rgba(#000, 0.5);
        border-radius: 2px;
        transform: translateY(-12.5%);

        font-size: 60%;
        font-weight: normal;
        color: white;
        font-family: "Cascadia Code", "Courier New", monospace;
    }
    .PinWithChangeTitle {
        padding: 0.15em 0.4em;
        outline: none;
        border: none;
        border-radius: 2px;
        border-bottom: 1px solid white;

        transform: translateY(-50%);

        text-align: center;
        font-family: "Cascadia Code", "Courier New", monospace;
        background-color: rgba(#000, 0.5);
    }
}
