.PinInteraction {
    cursor: pointer;
    height: 0.8em;
    width: 0.8em;
    margin: 0.25em 0;
    border-radius: 50%;
    position: relative;
    .PinTitle {
        padding: 0.15em 0.4em;
        cursor: default;
        background-color: rgba(#000, 0.5);
        border-radius: 2px;
        transform: translateY(-12.5%);

        font-size: 60%;
        font-weight: normal;
        color: white;
        font-family: "Cascadia Code", "Courier New", monospace;
    }
    .PinWithChangeTitle {
        padding: 0.15em 0.4em;
        outline: none;
        border: none;
        border-radius: 2px;
        border-bottom: 1px solid white;

        transform: translateY(-50%);

        text-align: center;
        font-family: "Cascadia Code", "Courier New", monospace;
        background-color: rgba(#000, 0.5);
    }
    .Colors {
        position: absolute;
        z-index: 25;
        top: 100%;
        border: solid 1px #7b68ee;
        background-color: #1f1f1f;
        display: flex;
        flex-direction: column;
        padding: 0 0.5em;
        border-radius: 20px;
        color: white;
        .ColorElement {
            &:not(:last-child) {
                border-bottom: solid 1px white;
            }
            height: 1.5em;
            width: 100%;
            display: flex;
            align-items: center;
            .ColorPinSample {
                height: 1em;
                width: 1em;
                border-radius: 50%;
                margin-right: 0.25em;
                border: solid 1px #000;
            }
        }
    }
}
