.CurrChipPin {
    position: absolute;
    right: 0;
    .EditPagePin {
        padding-right: 0.5em;
        width: max-content;
        height: 5vh;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        transform: translateY(-50%);
        .PinChange {
            width: 0.7em;
            height: 100%;
            background-color: rgba($color: #fff, $alpha: 0.25);
            cursor: n-resize;
            margin-left: 0.25em;
        }
        .PinButtonChange {
            cursor: default;
            height: 3.75vh;
            aspect-ratio: 1;
            border-radius: 50%;
        }
    }
}
