.SaveChip {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;
    width: 40vw;
    font-size: 4em;
    .CustomInput {
        background-color: rgba($color: #000000, $alpha: 0.2);
        border: none;
        margin: 0.5em;
        padding: 0.1em;
        border-radius: 8px;
        text-indent: 6px;
        font-size: 0.5em;
    }
    .ColorInput {
        width: 80%;
    }
    .ColorPicker {
        width: 20%;
        border: none;
        background-color: transparent;
        height: 80%;
    }
    .rowFlex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .Buttons {
        flex-grow: 1;
        .Button {
            font-size: 0.5em;
            border-radius: 8px;
            border: none;
        }
    }
}
